body{
    font-family: Raleway;
    background-color: #ebebeb;
}

header.encabezado {
    align-items: center;
    background: linear-gradient(106.32deg, #f30fdd 14.23%,
    rgba(255, 25, 25, 0) 139.97%);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 1rem 10%;
}

.container_encabezado{
    align-items: center;
    display: flex;
}

img.Logo {
    margin-right: 2rem;
}

.Logo:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.img__click{
    cursor: pointer;
}

.cabecera__input{
    background: #f5f5f5;
    border-radius: 20px;
    height: 2rem;
    width: 250px;
}

.Buscador{
    position: relative;
    right: 35px;
}

.boton_login{
    height: 3rem;
    width: 200px;
}

.boton{
    background: #2a7ae4;
    border: none;
    color: white;
    cursor: pointer;
    height: 3rem;
    text-align: center;
}

.boton:hover{
    box-shadow: 0 0 40px 40px #003781 inset;
    color: white;
    transition: box-shadow 0.4s ease-in-out;
}